@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(0, 68, 156, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-m-header.is-open .w-m-header-background {
  left: 0;
}
.w-m-header-button-wrapper {
  margin-left: auto;
}
.w-m-header-icon {
  display: none;
}

.w-m-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-m-navigation-list.is-open {
  right: 0;
}
.w-m-header-icon-menu {
  display: block;
}

.w-m-header-icon-button.is-open .w-m-header-icon-menu {
  display: none;
}

.w-m-header-icon-button.is-open .w-m-header-icon-close {
  display: block;
}

.w-m-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 87px;
  background: rgba(255, 255, 255, 0.15);
}

.w-m-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(100px);
}
.w-m-header.is-open .w-m-header-background {
  left: 0;
}
.w-m-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-m-header-icon-menu {
  display: block;
}

.w-m-header-icon-button.is-open .w-m-header-icon-menu {
  display: none;
}

.w-m-header-icon-button.is-open .w-m-header-icon-close {
  display: block;
}

.w-m-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 18px 30px;
  position: relative;
}

.w-m-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 60px 32px;
  border-radius: 0px 0px 40px 40px;
  gap: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(100px);
}

.w-m-navigation-list.is-open {
  right: 0;
}

.w-m-navigation-link {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.w-m-navigation-link:hover,
.w-m-navigatioт-link:focus {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 1%;
}

.w-m-header.is-open {
  background-color: transparent;
}

.w-m-navigation-img {
  display: none;
}

@media screen and (min-width: 1199px) {
  .w-m-navigation-img {
    display: flex;
  }
  .w-m-policy-terms-header-icon-menu {
    display: none;
  }
  .w-m-header-button-wrapper {
    display: none;
  }

  .w-m-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    border-radius: 40px;
  }

  .w-m-header-background {
    backdrop-filter: blur(100px);
    background: rgba(0, 0, 0, 0.15);
  }
  .w-m-header-icon-button {
    display: none;
  }
  .w-m-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-m-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 35px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-m-navigation-link {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;

    text-decoration: none;
  }

  .w-m-navigation-item-desk {
    display: none;
  }
}
.w-m-home {
  width: 375px;
  height: 797px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 307.png");
  margin: auto;
}
.w-m-home-container {
  width: 375px;
  padding: 565px 46px 0px;
  margin: auto;
}

.w-m-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-m-home-title {
  font-family: Libre Baskerville;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}

.w-m-home-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  padding-top: 16px;
}

@media screen and (min-width: 1199px) {
  .w-m-home {
    width: 1440px;
    height: 934px;
    background-image: url("/img/Frame\ 308.png");
  }
  .w-m-home-container {
    width: 1440px;
    padding: 627px 485.5px 0px;
  }
  .w-m-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .w-m-home-title {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  .w-m-home-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
  }
}

.w-m-about-container {
  width: 375px;
  padding: 62px 30px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-m-about-title {
  font-family: Libre Baskerville;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.w-m-about-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  padding-top: 24px;
}

@media screen and (min-width: 1199px) {
  .w-m-about-container {
    width: 1440px;
    padding: 126px 413px 0;
  }

  .w-m-about-title {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
  .w-m-about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    padding-top: 48px;
  }
}

.w-m-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 30px 0;
}

.w-m-why-lists {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.w-m-why-item {
  width: 270px;
}
.w-m-why-text {
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background: rgba(1, 59, 133, 1);
  font-family: Open Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}
.w-m-why-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  padding-left: 46px;
  margin-top: -22px;
}
.w-m-why-text-bold {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
}
.w-m-why-list {
  display: none;
}
@media screen and (min-width: 1199px) {
  .w-m-why-container {
    width: 1440px;
    padding: 150px 242px 0;
  }
  .w-m-why-list {
    display: block;
    padding-top: 48px;
  }
  .w-m-why-lists {
    display: none;
  }
  .w-m-why-item {
    width: 270px;
    height: 176px;
    margin: 0 12px;
  }
  .w-m-why-text {
    width: 91px;
    height: 91px;
    border-radius: 60px;

    font-family: Open Sans;
    font-weight: 400;
    font-size: 40px;
  }
  .w-m-why-text-two {
    font-family: Open Sans;
    font-size: 20px;
  }
  .w-m-why-text-bold {
    font-size: 20px;
  }
}

.w-m-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 30px 0;
}
.w-m-uniqueness-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.w-m-uniqueness-item {
  background: rgba(1, 59, 133, 1);
  width: 316px;
  height: 153px;
  border-radius: 40px;
  padding: 24px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.w-m-uniqueness-img {
  margin: 0 auto 16px;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1199px) {
  .w-m-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 150px 241px 0;
  }
  .w-m-uniqueness-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .w-m-uniqueness-item {
    width: 303px;
    height: 168px;
    gap: 16px;
    border-radius: 40px;
    padding: 24px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  .w-m-uniqueness-itemq {
    margin-right: 10px;
  }
}

.w-m-reviews-container {
  margin: auto;
  padding: 80px 30px 0;
  width: 375px;
}

.w-m-reviews-lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
}
.w-m-reviews-list {
  display: none;
}
.w-m-reviews-item {
  border: 3px solid rgba(255, 255, 255, 1);
  width: 316px;
  height: 151px;
  border-radius: 40px;
  padding: 24px;
}
.w-m-reviews-text {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.w-m-reviews-text-bold {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  padding-top: 16px;
}
.w-m-reviews-img {
  width: 323.0003662109375px;
  height: 386.9430847167969px;
}

@media screen and (min-width: 1199px) {
  .w-m-reviews-container {
    margin: auto;
    padding: 150px 0 0;
    width: 1440px;
  }
  .w-m-reviews-lists {
    display: none;
  }
  .w-m-reviews-list {
    display: block;
    padding: 48px 0 0 242px;
  }

  .w-m-reviews-item {
    width: 297px;
    height: 194px;

    border-radius: 40px;
    padding: 24px;
    border-width: 3px;

    margin: 0 12px;
  }
  .w-m-reviews-text {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .w-m-reviews-text-bold {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }

  .slick-dots {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-left: 444px;
  }

  .slick-dots li {
    list-style: none;
    width: 12px;
    height: 12px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/Ellipse\ 2.png") no-repeat center/cover;
    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/Ellipse\ 1.png") no-repeat center/cover;
  }
}

.w-m-faq-container {
  padding: 80px 30px 0px;
  width: 375px;
  margin: auto;
}

.w-m-faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
}

.w-m-faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  background: rgba(38, 96, 171, 1);
  border-radius: 24px;
  padding: 16px;
}

.w-m-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-m-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-m-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.w-m-toggle-button img {
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1199px) {
  .w-m-faq-container {
    padding: 150px 369px 0px;
    width: 1440px;
    margin: auto;
  }

  .w-m-faq-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .w-m-faq-question {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-m-faq-answer {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.w-m-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}
.w-m-gallery-list {
  width: auto;
  padding: 66px 0 0 30px;
  margin: auto;
}

.w-m-gallery-item {
  width: 262px;
  height: 464px;
  border-radius: 24px;

  overflow: hidden;
  position: relative;
  margin: 0 12px;
}

.w-m-gallery-image {
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1199px) {
  .w-m-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 0 0;
  }

  .w-m-gallery-list {
    padding: 48px 0 0px 242px;
  }
}

.w-m-features-container {
  width: 375px;
  margin: auto;
  padding: 104px 10px 25px;
}

.w-m-features-text-bold {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 24px 44px 16px;
}

@media screen and (min-width: 1199px) {
  .w-m-features-container {
    width: 1440px;
    margin: auto;
    padding: 174px 429px 86px;
  }
  .w-m-features-text-bold {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 24px 0;
  }
}
.w-m-policy-terms-container {
  padding: 130px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-m-policy-terms-container h1 {
  font-family: Libre Baskerville;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 20px;
}
.w-m-policy-terms-container h2 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin: 20px 0;
}
.w-m-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.w-m-email-link {
  color: inherit;
}
@media screen and (min-width: 1199px) {
  .w-m-policy-terms-container {
    padding: 129px 108px 60px;
    width: 1440px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-m-policy-terms-container h1 {
    font-family: Libre Baskerville;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    margin-bottom: 20px;
  }
  .w-m-policy-terms-container h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin: 20px 0;
  }
}

.w-m-footer-container {
  background: rgba(1, 59, 133, 1);

  width: 375px;
  padding: 25px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.w-m-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.w-m-footer-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.w-m-footer-copyright {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
}

@media screen and (min-width: 1199px) {
  .w-m-footer-container {
    width: 1440px;
    padding: 35px;
    display: flex;
  }

  .w-m-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .w-m-footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-m-footer-copyright {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.w-m-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
  color: rgba(0, 0, 0, 1);
}
.w-m-cookie-popup-text {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.w-m-cookie-popup-text-two {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.w-m-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-m-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(135, 97, 76, 1);
  width: 319px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

#accept-cookies {
  border: none;
  background: rgba(1, 59, 133, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.w-m-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1199px) {
  .w-m-cookie-popup-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .w-m-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-m-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .w-m-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 100px;
    display: none;
  }
}
